@charset "UTF-8";

@font-face {
    font-family: 'Sarina';
    src: url('../font/Sarina-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'KoPubWorld_M';
    src: url('../font/KoPubWorld\ Dotum_Pro\ Medium.otf') format('truetype');
}

* {
    font-family: 'KoPubWorld_M';
    font-size: 10px;
    color: #67885c;

}

#wrap {
    width: 360px;
    height: 800px;
    margin: 0 auto;
    background-color: #fff099;
}

/* header */
header {
    width: 100%;
    height: 8%;
    background-color: #fff099;
    position: relative;
}

.logo {
    float:left;
    width: 87%;
    height: 100%;
    
}

.menu_m{
    float:right;
    width: 13%;
    height:100%;
}

.menu_m img{
    scale: 0.6;
}

.popup_menu{
    display:none;
    position:absolute;
    z-index:2;
    right:0;
    top:100%;
    background-color:#67885c;
    color:#fff099;
    width: 30%;
}


.navi_m{
    float:left;
    width: 100%;
    /* height: 160px; */
}

.navi_m>li>a{
    float:left;
    width: 100%;
    height: 2.5em;
    line-height:2.5em;
    background-color:#67885c;
}

.navi_m>li>a:hover{
    background-color:#72b45c;
}

.navi_m span{
    margin-left:5%;
    color:#fff099;
}


/* main */
#main {
    float: left;
    width: 100%;
    height: 69%;
    background-color: #fff099;

}

.title {
    float: left;
    margin-top: 1em;
    font-family: 'Sarina';
    width: 100%;
    height: 10%;
    line-height: 1.2em;
    font-size: 1.5em;
    text-align: center;
}

.b_container {
    float: left;
    width: 85%;
    height: 90%;
    margin-top: 1.5em;
}

.tab>li {
    margin-left: 1.5em;
}

.tab>li>a {
    float: left;
    width: 10%;
    height: 1.3em;
    line-height: 1.5em;
    border-left: #67885c solid 0.1em;
    margin-top: 0.6em;
}

.tab>li.active>a {
    float: left;
    width: 10%;
    height: 1.3em;
    line-height: 1.5em;
    margin-top: 0.6em;
}

.tab>li span {
    margin-left: 0.3em;
    color: #67885c;
}

.tab>li.active span {
    margin-left: 0.3em;
    color: #72b45c;
}

.tab>li div {
    position: absolute;
    height: 0px;
    overflow: hidden;
    margin-top: 3em;
}

.tab>li.active div {
    float: left;
    width: 70%;
    height: 80%;
    margin-top: 3em;
}

.body {
    line-height: 1.5em;
    text-align: justify;
    margin-left: 0.3em;
}

.body_E {
    line-height: 1.3em;
    text-align: justify;
    margin-left: 0.3em;
}

/* contents */
#contents {
    float: left;
    width: 100%;
    height: 10%;
    background-color: #fff099;
}

#contents .con_txt {
    float: left;
    width: 100%;
    height: 1.2em;
    line-height: 1.2em;
    font-weight: bold;
    text-align: center;
    display: block;
    position: absolute;
}

#contents .con_img {
    width: 100%;
    display: block;
    position: absolute;
    top: 1.8em;
}

#contents .con_img:hover {
    opacity: 0.6;
}

.con_img img {
    width: 25px;
    height: 25px;
}

/* contents - blocks */
.painting {
    float: left;
    width: 35%;
    height: 100%;
    text-align: center;
    position: relative;
}

.design {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    position: relative;
}

.photography {
    float: left;
    width: 40%;
    height: 100%;
    text-align: center;
    position: relative;
}

/* footer */
footer {
    float: left;
    width: 100%;
    height: 8%;
}

.foot {
    float: left;
    text-align: center;
    width: 100%;
    height: 4em;
    line-height: 4em;
}

/* media query */
@media screen and (min-width:1024px) {
    #wrap {
        width: 80%;
    }

    #main {
        height: 65%;
    }

    #contents {
        height: 14%;
    }

    .tab>li>a {
        display: none;
    }

    .tab>li div {
        float: left;
        width: 70%;
        height: 80%;
        margin-top: 14em;

    }
}


@media screen and (max-width:1024px) {
    #wrap {
        width: 100%;

    }

    .tab>li.active div {
        width: 85%;
    }

}

@media screen and (min-width:700px) and (max-width:1023px) {
    #main {
        height: 60%;
    }
}