@charset "UTF-8";

@font-face {
    font-family: 'sarina';
    src: url('../font/Sarina-Regular.ttf') format('truetype');
}

#wrap {
    width: 1300px;
    height: 585px;
    margin: 0 auto;
    background-color: cadetblue;
}

header {
    width: 100%;
    height: 14.8%;
    background-color: antiquewhite;
}

#main {
    float: left;
    width: 100%;
    height: 40.8%;
    background-color: aqua;
    box-sizing: border-box;
    
}

#contents {
    float: left;
    width: 100%;
    height: 29.6%;
    
}

.painting {
    float: left;
    width: 33.3%;
    height: 100%;
    background-color: aquamarine;
    display:block;

}

.design {
    float: left;
    width: 33.3%;
    height: 100%;
    background-color: azure;
    display:block;

}

.photography {
    float: left;
    width: 33.4%;
    height: 100%;
    background-color: beige;
    display:block;

}

footer {
    float: left;
    width: 100%;
    height: 14.8%;
    background-color: bisque;
}

@media screen and (max-width:1024px) {
    #wrap {
        width: 100%;
    }
}


@media screen and (max-width:768px) {

    /* #wrap {
        width: 80%;
    }
    header {
        height: 7.4%;
    }

    #main {
        height: 40%;
    }

    #contents {
        height: 14.8%;
    }

    footer {
        height: 7.4%;
    } */

    header {
        height: 8%;
    }

    #main {
        width: 60%;
        height: 29.6%;
    }

    #contents {
        width: 40%;
        height: 29.6%;   
    }

    .painting {
        width: 100%;
        height: 33.3%;
    }

    .design {
        
        width: 100%;
        height: 33.3%;
    }

    .photography {  
        width: 100%;
        height: 33.4%;
    }


}

@media screen and (max-width:768px) and (orientation: portrait) {

    #wrap {
        width: 360px;
        height: 700px;
    }
}


/* @media screen and (max-width:900px) and (orientation: landscape) {

    header {
        height: 8%;
    }

    #main {
        width: 60%;
        height: 29.6%;
    }

    #contents {
        width: 40%;
        height: 29.6%;   
    }

    .painting {
        width: 100%;
        height: 33.3%;
    }

    .design {
        
        width: 100%;
        height: 33.3%;
    }

    .photography {  
        width: 100%;
        height: 33.4%;
    }


    footer {
        height: 8%;
    }
} */